h3{
    font-size: 25px !important;
}
.btn-success:hover{
    background-color: green;
}
canvas{
    animation-name: mustache;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes mustache {
    100%{box-shadow: 1px 1px 38px black}
}